@import "/src/Colors/Colors.scss";

.basic_search_container{
  display: flex;
  justify-content: center;
}

.search{
&_container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid $white;
}
&_line{
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: 36px;
  font-family: sans-serif;
  color:$white;
  padding: 0;
  margin: 0;
  &:focus-visible{
    outline-style: none;
    outline-width: 0px;
  }
}
&_line_container{
  width: 100%;
}
}

.close{
  &_btn{
    display: flex;
    align-items: center;
    background: transparent;
    border-width: 0px;
    cursor: pointer;
  }

  &_img{
    width: 27px;
  }
}
