@import "/src/Colors/Colors.scss";

.base_container{
  margin: 20px 5% 0 5%;
}
.card_container{
  display: grid;
  column-count: 4;
  grid-template-columns: 25% 25% 25% 25%;
}

.details_button_go_back{
  margin: 15px 0 15px 0
}
