@import "/src/Colors/Colors.scss";
@import "../baseButtonClass.scss";

.button{
  background-color: $orange;
  @extend .base_btn_style;
  width: 49%;
  &:hover{
    background-color: $darkorange;
  }

}
.span{
  margin-right: 8px;

}
