@import "/src/Colors/Colors.scss";

.details{
  &_basic_container{
    position: relative;
  }
  &_button_go_back{
    position: absolute;
    z-index: 2;
    left: 20px;
    top: 30px;
  }
  &_image{
    position: absolute;
    width: 100%;
    &_container{
      width: 100%;
      height: 360px;
      position: relative;
    }
  }
  &_information{
    position: absolute;
    padding-left: 20px;
    width: 50%;
    &_discription{
      background-color: rgba(43, 41, 38, 0.233);
      div{
        text-shadow: black 2px 1px 2px;
      line-height: 1.5;
      }
    }
    &_title{
    div{
      text-shadow: black 5px 6px 7px;
    line-height: 96px;
    font-size: 110px;
    word-break: break-word;
    }}
    div{
      &:nth-child(n){
          margin: 15px 0 15px 0;
      }
    }
    &_keywords{
      display: flex;
      flex-direction: row;
      &_adult{
        display: none;
      }
      div:nth-child(n){
        background-color: rgba(243, 177, 33, 0.808);
        box-shadow: black 0px 0px 4px 2px;

        padding: 4px;
        margin-right: 10px;
      }
      div{
        text-shadow: black 1px 0px 0px;
      }
    }
  }
}
