@import "/src/Colors/Colors.scss";


.base_class{
  font-family: sans-serif;
  font-weight: 400;
}

.black{
  color: $black ;
}

.white{
  color: $white;
}

.orange{
  color:$orange;
}

.smallgray{
  color:$smallgray;
}

.h1 { // Сериалы онлайн

  font-size: 36px;
  line-height: 48px;
}

.h2 {
  font-size: 12px;
  letter-spacing: .3px;
}

.h3 { //Теги в карточке
  font-size: 12px;
  line-height: 18px;
  letter-spacing: .3px;
}

.title { //Теги в окне фильма
  font-size: 18px;
  line-height: 22px;
}

.p { //Дискрипшен в карточке и выпадающий список
  font-size: 16px;
  line-height: 18px;
}
