@import "/src/Colors/Colors.scss";

.element {
    color:$white;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

     &_btn{
      background-color: #191a1d;
      opacity: .98;
      border-width: 0px;
      cursor: pointer;
      padding: 0 16px;
      border-radius: 8px;
      transition: background-color .2s ease-in-out;
      height: 100%;

      &:hover{
      background-color: $smallLightGrey;
      }
    }
}

