@import "/src//Colors/Colors.scss";
@import "../baseButtonClass.scss";

.button{
  color: $white;
  background-color: $grey;
  @extend .base_btn_style;
  &:hover{
    background-color: $darkgrey;
  }
  &:active{
    color: none;
  }
}
