@import "/src/Colors/Colors.scss";

.card{
  border-bottom: 2px solid $darkorange !important;
  position: relative;
  border-radius: 4px;
  border: 1px solid hsla(0,0%,100%,.08);
  margin: 0 10px 0 10px 0;
  padding-bottom: 80%;
  background-color: $black;
  opacity: 1;

  &_img{
    width: 100%;
    border-radius: 4px;
  }

  &:hover{
    transform: scale(1.05);
    transition: transform .3s;

    .card_buttons_panel{
      display: flex;
      opacity: 1;
      position: relative;
      transition:  opacity 0.4s ease-in;
      &:nth-last-child{
       margin-left: 1%
      }
      &:nth-first-child{
        margin-right: 1%
       }
    }
    .description_container{
      margin-top: -44px;

    }
  }
  &_container{
    position: relative;
    margin: 0px 7px 30px 7px;
  }

}
.bottom_details{
  position: absolute;
  bottom: 10px;
}
.image_box{
  position: absolute;
    &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(transparent, rgb(31, 33, 37));
    opacity: 1;
}
}

.description_container{
  padding: 0 5px 0 5px;
  bottom: 10px;
}
.title_film{
  bottom: 0px;
  text-align:left;
}

.card_buttons_panel{
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 0 5px 0 5px;
 transition: margin-top 0.5s ease-out, opacity 0s ease-in;
  opacity: 0;

}

.subtitle{
  margin: 10px 0 10px 0;
  overflow: hidden;
  height: 25px;
}
.container_tag{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: flex-start;
  height: 21px;
  div:not(:first-child){
    margin-left: 3px;
  }
}
.tag_movie{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  border-width: thin;
  padding: 0 4px;
  border-radius: 2px;
  background-color: hsla(0,0%,100%,.08);
}

.card_bottom_line{
  height: 2px;
  margin-top: 8px;
  background-color: rgb(254, 181, 43);
}

