@import "/src/Colors/Colors.scss";

.basic_container{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 5% 0 5%;
}

.filters_container{
  display: flex;
  flex-direction: row;
}

.card_container{
  display: grid;
  column-count: 4;
  grid-template-columns: 25% 25% 25% 25%;
}

.top_panel{
  display: flex;
  flex-direction: row;
}
.button_favorite{
  z-index: 999;
  padding: 24px 0 40px;
  margin-right: 20px;
  align-items: center;
}
.all_favorite{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 8px;
  width: 240px;
  button{
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    height: 40px;
    width: 100%;
    margin: 15px 0 15px 0;
  }
}

.button_authentication{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  z-index: 999;
  padding: 24px 0 40px;
  align-items: center;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
    &_container{
      flex-direction: row;
      display: flex;
    }
    &_page{
      display: flex;
      align-items: center;
      border-color: $orange;
      background-color: $orange;
      border-radius: 4px;
      color: $body;
      margin: 0 5px 0 5px;
    }
    &_button{
      border-color: $orange;
      background-color:$body;
      border-radius: 4px;
      margin: 0 5px 0 5px;
      cursor: pointer;
    }
    &_space{
      display: flex;
    align-items: end;
    }
    &_extreme_buttons{
      display: flex;
    }
}
