@import "/src//Colors/Colors.scss";
@import "../baseButtonClass.scss";

.button{
  color: $black;
  background-color: $orange;
  cursor: pointer;
  @extend .base_btn_style;
  &:hover{
    background-color: $darkorange;
  }
}
