@import "/src/Colors/Colors.scss";

.filters{
  z-index: 999;
  padding: 24px 0 40px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

 &_list {

   &_element{
    color:$white;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;


  }
 }
}

