@import "/src/Colors/Colors.scss";
@import "../baseButtonClass.scss";

.button{
  background-color: $orange;
  @extend .base_btn_style;
  padding:  2px;
  width: 49%;
  cursor: pointer;
  &:hover{
    background-color: $darkorange;
  }

}
.span{
  padding: 2px 2px 0 3px;
}

.up{
  transform: rotate(270deg);
}

.right{
  transform: rotate(none);
}

.down{
  transform: rotate(90deg);
}

.left{
  transform: rotate(180deg);
}
