$grey: rgba(86,92,103,.24);
$smallLightGrey: rgba(86,92,103,.16);
$lightegrey: #565c67;
$smallgray: darkgray;
$darkgrey: #565c67a3;
$orange: #feba2b;
$darkorange: #e19900;
$white:  #ffffff;
$black: #111113;
$body: #191a1d


