@import "/src/Colors/Colors.scss";
@import "../baseButtonClass.scss";

.button{
  color: $white;
  background-color: $grey;
  width: 49%;

  @extend .base_btn_style;
  &:hover{
    background-color: $darkgrey ;
  }
}

.span{
  margin-right: 8px;
}
